@import "../../styles/variables.scss";

<<<<<<< HEAD
.dropdown {
  width: 100%;
=======
.dropdown{
//margin: 1rem; 

    width: 100%;
>>>>>>> 57641774106adbd1ed3d10cdc122c60927f9e513
}

.bold {
  font-weight: $font-bold;
}

.semibold {
  font-weight: $font-semibold;
}

.medium {
  font-weight: $font-medium;
}

.regular {
  font-weight: $font-regular;
}

.buton {
  &__control {
    font-size: $font-button;
    color: #0241ae;
  }

  &__placeholder {
    color: $color-primary-500;
  }
}

.bodySmall {
  font-size: $font-body-small;
}
.optionCheck {
  width: 13px;
  height: 11px;
  padding-top: 5px;
  text-align: center;
}
.optionLabel {
  align-self: center;
  font-size: $font-body-small;
  font-weight: $font-bold;
}
<<<<<<< HEAD
=======
.optionLabel{
    align-self: center;
    font-size: $font-body-small;
    font-weight: $font-bold;

}
>>>>>>> 57641774106adbd1ed3d10cdc122c60927f9e513
