@import "../../styles/variables.scss";

select {
  border: 1px solid $color-gray-200;
  padding: 10px 20px;
  //   width: 100%;
  border-radius: 8px;
  color: $color-black;
  font-size: $font-body-normal;
  font-weight: $font-medium;
  line-height: 24px;
  padding-right: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:active,
  &:focus {
    border-color: $color-gray-400;
  }

  &:disabled {
    background: $color-gray-50;
    border: unset;
  }
}

label {
  color: $color-gray-600;
  font-size: $font-body-small;
  font-weight: $font-medium;
  line-height: 22px;
  display: flex;
  margin-bottom: 4px;
}

.error {
  select {
    border-color: $color-alert-400;
  }
  p {
    color: $color-alert-500 !important;
    font-size: $font-body-tiny;
    font-weight: $font-regular;
    line-height: 20px;
    margin-top: 4px;
  }
}
