@import "../../styles/variables.scss";

.cards {
  width: 100%;
}

.cardContent {
  display: flex;
  flex-direction: column;
  float: left;
  border-radius: 12px;
  height: 40%;
  border: 1px solid $color-gray-300;
  width: 300px;
  margin: 20px;
  p {
    padding: 7px;
    margin: 0px;
  }
}
.listCardContent {
  display: flex;
  flex-direction: row;
  border-radius: 12px;
  height: 40%;
  border: 1px solid $color-gray-300;
  width: 98%;
  margin: 20px;
  padding: 15px;
  p {
    padding: 7px;
    margin: 0px;
  }
}

.cardImg {
  border-radius: 12px 12px 0px 0px;
  height: 166px;
  width: 100%;
  object-fit: cover;
}
.ListCardImg {
  border-radius: 12px;
  height: 175px;
  width: 500px;
  object-fit: cover;
}
.contentCard {
  margin-right: 0px 5px;
  p {
    padding: 8px;
  }
}
.cardTitle {
  font-weight: $font-semibold;
  color: $color-black;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.cardLocation {
  font-weight: $font-regular;
  color: $color-gray-400;
}
.cardDescription {
  font-weight: $font-regular;
  color: $color-gray-400;
}
.cardPrice {
  font-weight: $font-semibold;
  color: $color-black;
}
