@import "../../styles/variables.scss";

.navbar {
  border-bottom: 1px solid $color-gray-200 !important;
  z-index: 2 !important;
  background-color: white !important;
}

.content {
  max-width: 1140px !important;
}
.assist {
  width: 103px;
  min-width: 100px;
  height: 32px;
  min-height: 40px;
  cursor: pointer;
}

.search {
  margin: 1rem 0rem 1rem 0rem;
  background-color: white;
  height: 40px;
  width: 400px !important;
  border-right: none !important;
  border-radius: 0px !important;
}
.search:focus,
.search:hover {
  box-shadow: none !important;
  border-color: $color-gray-200 !important;
}

.searchIcon {
  margin: 1rem 0;
  border: 1px solid $color-gray-200 !important;
  height: 40px;
  width: 40px;
  border-left: none !important;
  border-bottom-right-radius: 10px !important;
  border-top-right-radius: 10px !important;
  stroke: $color-primary-500;
  padding: 10px 10px;
  path {
    fill: $color-primary-300;
  }
}

.category {
  margin: 1rem 0;
  border: 1px solid $color-gray-200 !important;
  height: 40px;
  width: 150px;
  border-bottom-left-radius: 10px !important;
  border-top-left-radius: 10px !important;
  padding-left: 1rem;
  border-right: none !important;
}

.favorites {
  width: 150px;
  display: inline-flex !important;
  gap: 8px !important;
  background-color: white !important;
  color: $color-gray-600 !important;
  border: none !important;
  padding: 0.5rem !important;
  font-weight: $font-semibold;
  font-size: $font-button;
  align-items: center;
  justify-content: center;
  margin-top: 13px;
  margin-left: 1rem;
}

.favoritesDiv:hover {
  .favorites {
    color: $color-primary-300 !important;
    svg {
      path {
        fill: $color-primary-300 !important;
      }
    }
  }
}
.favorites:focus {
  box-shadow: none !important;
}

.photoDiv{
    border: 1px solid $color-gray-100;
    border-radius: 25px;
    display: flex;
    height: fit-content;
    .userPhoto{
      width: 3rem;
      height: 3rem;
      aspect-ratio: 1;
      border-radius: 50%;
    }
}

.profile{
  color: $color-gray-600 !important;
  font-weight: $font-semibold;
  font-size: $font-body-small;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.profile:hover {
  color: $color-primary-300 !important;
  svg {
    path {
      fill: $color-primary-300;
    }
  }
}

.profileTitle {
  color: $color-gray-600 !important;
  background-color: white !important;
  border: none !important;
  font-weight: $font-semibold;
  font-size: $font-body-small;
  padding: 0.48rem !important;
  margin-left: 0.4rem !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  gap: 8px !important;

}
.profileTitle:focus {
  box-shadow: none !important;
}
.profileTitle:hover {
  color: $color-primary-300 !important;
  svg {
    path {
      fill: $color-primary-300;
    }
  }
}
.dropdown-toggle:after{
  align-self: center;
}

.blueLogo {
  width: 20px;
  height: 20px;
  margin: 5px;
  path {
    fill: $color-primary-300;
  }
}

.profileOption {
  font-weight: $font-medium;
  font-size: $font-body-small;
  color: $color-gray-600 !important;
}
.profileOption:hover {
  background-color: white !important;
  color: $color-primary-300 !important;
}

.dropMenu {
  border: 0px !important;
  border-radius: 12px !important;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.14);
  z-index: 1;
}

.hello {
  font-size: $font-body-normal;
  font-weight: $font-bold;
  color: $color-black;
}
.logout {
  stroke: $color-gray-500 !important;
  height: 20px;
  width: 20px;
  margin: 5px;
  path {
    fill: $color-gray-500;
  }
}
