@import "../../styles/variables.scss";

.headerSwiper {
  display: flex;
  justify-content: space-between;
  h5 {
    font-size: $font-h5;
    font-weight: 700;
    color: $color-gray-800;
  }
}
.seeEverything {
  margin-top: 20px;
  border: 1px solid black;
  height: 275px;
  border-radius: 12px;
  width: 300px;
  .chevron {
    height: 50px;
    width: 50px;
    border: 1px solid $color-black;
    border-radius: 50%;
    background: #0356e8;
    color: white;
  }
}
