@import "../../../styles/variables.scss";

div a{
    text-decoration: none;
}
// main container
.containerAuth{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 415px;
    height: 478px;
    left: 281px;
    top: 329px;
}

// title + input fields + remember me
.contentContainerForm{
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 28px;
    
    width: 415px;
    height: 296px;
    
}

.form{
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    
    width: 415px;
    height: 246px;
    
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.formTitle{
    padding: 0px;
    gap: 4px;
    
    width: 415px;
    height: 58px;
    
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.title{
    color: $color-black;
    
    font-size: $font-h4;
    font-weight: $font-bold;

    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.subTitle{
    color: $color-gray-300;
    font-size: $font-body-small;
    font-weight: $font-semibold;

}

.formInput{
    padding: 0px;
    gap: 28px;
    
    width: 415px;
    height: 168px;
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.authError{
    color: $color-alert-400;
    font-size: $font-body-small;
    width:415px;
}


.rememberMe{

    display: flex;
    flex-direction: row;
    align-items: center;
    
    width: 415px;
    height: 80px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.checkBox{
    display: flex;
    flex-direction: row;
    
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    padding:0px;
    padding-top:14px;

}

.textRememberMe{
    color: $color-gray-500;
    font-size: $font-body-small;
    font-weight: $font-medium;

    width: 97px;
    height: 22px;
    text-align: center;

    flex: none;
    order: 1;
    flex-grow: 0;
}


.forgotPassword{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    
    width: 294px;
    height: 22px;
    
    
    flex: none;
    order: 1;
    flex-grow: 1;

}

.textForgotPassword{
    height: 22px;

    color:$color-primary-400;
    font-weight: $font-semibold;
    font-size: $font-body-small;
    cursor:pointer;

    flex: none;
    order: 0;
    flex-grow: 0;
}


// login button, login with google, signup option
.contentContainerAuthOptions{
    padding: 0px;
    gap: 24px;
    
    width: 415px;
    height: 142px;
    
    flex: none;
    order: 1;
    flex-grow: 0;  
}

.contentContainerButtons{
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 415px;
    height: 96px;
}

.contentContainerButtons Button{
    margin-top:20px;
}

.contentContainerAuthEndForm{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 0px;
    gap: 4px;

    width: 415px;
    height: 22px;

    flex: none;
    order: 1;
    flex-grow: 0;

    margin-top:36px;

}

.textAuthEndForm{
    font-size: $font-body-small;
    font-weight: $font-semibold;
    line-height: 22px;
    align-items: center;
}

@media (max-width : 860px){
    .authError,
    .containerAuth, 
    .contentContainerForm, 
    .form, 
    .formTitle, 
    .formInput,
    .rememberMe,
    .contentContainerAuthOptions,
    .forgotPassword,
    .contentContainerButtons,
    .contentContainerButtons Button,
    .contentContainerAuthEndForm
    {
        width: 250px;
    }

    .authError{
        font-size: $font-body-tiny;
    }

    .contentContainerButtons{
        margin-top:40px;
    }
   
    .rememberMe{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .forgotPassword{
        justify-content: center;    
    }
    
    // .contentContainerButtons{
    //     height: 120px;
    // }
    
    .contentContainerButtons Button{
        padding:11px;
    }
    .textAuthEndForm{
        margin-top:15px;
    }
}

@media (max-width : 550px){


    .containerAuth, 
    .contentContainerForm, 
    .form, 
    .formTitle, 
    .formInput,
    .rememberMe,
    .contentContainerAuthOptions,
    .forgotPassword,
    .contentContainerButtons,
    .contentContainerButtons Button,
    .contentContainerAuthEndForm
    {
        width: 250px;
    }    
    
   
    .rememberMe{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .forgotPassword{
        justify-content: center;    
    }
    
    // .contentContainerButtons{
    //     height: 120px;
    // }
    
    .contentContainerButtons Button{
        padding:11px;
    }
}