@import "../../../styles/variables.scss";

.title {
  font-size: $font-h4;
  font-weight: $font-bold;
  color: $color-black;
  margin-bottom: 32px;
}

.form {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;

  > button {
    white-space: pre;
    width: 1rem;
    height: fit-content;
    margin-top: 10px;
    border: 1px solid black;
  }
}
